*{
    margin: 0;
    padding:0;
    font-family: Schibsted Grotesk;
    box-sizing: border-box;
    float: left;
}

html, body{
    background: #f5f5f5;
}

body{
    margin: 0 20px
}

h1{
    margin: 4rem 0
}

h1 i{
    font-weight: 100;
}

b{
    float: none;
}

article{
    width: 100%;
    margin-bottom: 2rem;
}

article span:nth-child(1){
    line-height: 1.4rem;
    color: #5A62AB;
    text-transform: uppercase;
}

article span:nth-child(2),
article span:nth-child(3){
    margin-top: 1rem;
    line-height: 1.33rem;
    color: #333;
}

article span b{
    float: none;
}

#radar{
    width: 100%;
    height: 2400px;
}

#radar .radar-container{
    width: 100%;
    height: 400px;
    position: sticky; 
    top: 20px
}

#radar .radar-container-img{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 400px;
    background-size: contain;
    transition: 0.5s
}

#radar .radar-text{
    margin-top: 2rem;
}

#radar .title-sub{
    margin-bottom: 1rem;
}

#radar .radar-text-niveis{
    width: 100%;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: #1F2845;
    transition: 0.5s;
    position: relative
}

#radar .radar-text-niveis-img{
    position: relative;
    width: 100%;
    text-align: center;
    transition: 0.5s
}

#radar .radar-text-niveis-img-img{
    float: none;
    width: 100px;
    height: 100px;
    background-size: contain;
    margin: auto;
    margin-top: 1rem
}

@keyframes example {
    0% {transform: rotate(-25deg);}
    50% {transform: rotate(-65deg);}
    100% {transform: rotate(-25deg);}
}

#text{
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.title-sub{
    font-weight: 700;
    text-transform: uppercase;
    color: #1F2845
}

.title-sub-text{
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #1F2845;
    transition: 0.5s
}

.title-sub-mini{
    width: 100%;
    color: #1F2845
}

#text .bars{
    width: 100%;
    margin-top: 1.5rem
}

#text .bars-body{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

#text .bars-note{
    width: 40px;
    padding-left: 0.5rem
}

#text .bars-body-div{
    width: calc(10% - 5px);
    margin-right: 1px;
    border: 1px solid #1F2845;
    padding-bottom: calc(10% - 26px)
}

#text .bars-body-div-selected{
    background: #1F2845;
}

#text .variables{
    width: 100%;
    margin-top: 2rem
}

#text .variable-line{
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 0.33rem;
}

#text .variables-type{
    margin-bottom: 1rem
}

#text .variables-title{
    width: 100%;
    margin-bottom: 1rem
}

#text .variable-line b{
    width: 30px;
}

#text .bars-title-sub{
    margin-bottom: 0
}

#margin{
    width: 100%;
    height: 400px;
}